body {
  overflow-x: hidden !important;
}

.header-links {
  font-family: "Quicksand" !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 20px !important;
}

.header-access-btn {
  background: #000;
  width: 160px !important;
  height: 45px !important;
  margin-left: 66px !important;
  border-radius: 4px !important;
  font-family: "Nunito Sans";
  font-weight: 700;
  text-align: center;
  padding-top: 8px;
  font-size: 14px !important;
}

.product-intro-title {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
}

.product-lead-subtitle {
  font-family: "Quicksand" !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 34px !important;
}

/**
second section of page 
**/
.product-about-title {
  font-family: "Quicksand";
  font-weight: 300 !important;
  font-size: 1.55rem !important;
  line-height: 35px;
  margin-bottom: 38px !important;
}

.product-about-text-group-title {
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 25px !important;
}

.product-section-title {
  color: #353c43 !important;
  font-weight: 700 !important;
  font-size: 1.55rem !important;
  line-height: 38px !important;
  text-transform: uppercase;
  margin-bottom: 28px !important;
}

.product-about-desc {
  color: #5d6279 !important;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.product-about-text-group ul {
  list-style-type: none;
  padding-left: 10px !important;
}

.product-about-text-group ul li {
  margin: 0px !important;
  padding: 0px !important;
  margin-top: 19px !important;
  color: #5d6279 !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 18px;
  display: flex !important;
  align-items: center;
}

.product-about-text-group ul li span {
  margin-left: 8px;
}

.product-about-text-group ul li i {
  color: #2da3fa;
  font-size: 20px;
}

.product-about-image {
  position: absolute;
  height: 600px;
  width: 650px;
  margin-top: -60px;
  margin-left: 0px;
}

.product-about-image-full-control {
  width: 600px !important;
  height: 600px !important;
  margin-top: 100px !important;
}

.product-about-image-real-time {
  margin-top: 0px !important;
}

.img-xs-middle {
  width: 90% !important;
  height: 90% !important;
  margin-left: 20px;
  margin-top: 100px;
}

.img-xs-middle-request {
  margin-left: 0px !important;
  margin-top: 0px !important;
}

.img-xs-middle-full-control {
  margin-top: 50px !important;
}

.img-xs-middle-real-time {
  margin-top: 40px !important;
}

.img-xs-middle-automate-access {
  margin-left: 0px !important;
  margin-top: 0px !important;
  margin-right: 0px;
  width: 50% !important;
}

.product-about-section {
  height: 591px;
}

.page-footer {
  padding: 0px !important;
}

.page-footer-title {
  font-weight: 700;
  font-size: 1.55rem !important;
  line-height: 38px;
}

.solutions-title {
  color: #353c43;
  font-weight: 700 !important;
  margin-top: 0px !important;
  font-size: 1.8rem !important;
  line-height: 43px;
  margin-bottom: 0px !important;
}

.solutions-card-title {
  color: #353c43 !important;
  margin-bottom: 0px !important;
}

.solutions-card-text {
  margin-top: 10px !important;
}

.link-stripped i {
  font-size: 25px !important;
  color: #353c43 !important;
}

.solutions-bottom-card-rect-text {
  padding: 25px !important;
  bottom: 0px !important;
  display: flex;
  margin-left: 150px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative !important;
}

.footer-nav-title {
  color: #353c43 !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  line-height: 19px !important;
}

.header-menu-icon {
  color: #fff;
  cursor: pointer;
}

/**
* Third section 
*/
@media (min-width: 992px) and (max-width: 1100px) {
  .product-about-image {
    height: 480px !important;
  }
}

@media (min-width: 501px) and (max-width: 990px) {
  .product-section-title {
    text-align: center;
    margin-top: 30px !important;
  }

  .product-about-image {
    display: none !important;
  }

  .img-xs-middle {
    margin-top: 0px !important;
  }

  .img-xs-middle-full-control {
    margin-top: 0px !important;
  }

  .img-xs-middle-real-time {
    margin-top: 0px !important;
  }

  .product-about-section {
    height: auto !important;
  }

  .solutions-bottom-card-rect-text {
    margin-left: 100px !important;
  }
}

@media (max-width: 500px) {
  .product-about-image {
    display: none !important;
  }

  .img-xs-middle {
    margin-top: 0px !important;
    width: 100%;
  }

  .img-xs-middle-full-control {
    margin-top: 0px !important;
  }

  .img-xs-middle-real-time {
    margin-top: 0px !important;
  }

  .product-about-section {
    height: auto !important;
  }

  .product-section-title {
    text-align: center;
    margin-top: 30px !important;
  }

  .solutions-title {
    margin-top: 40px !important;
  }

  .solutions-bottom-card-rect-text {
    margin-left: 100px !important;
  }
}
