/* HERO */
.hero-product {
  pointer-events: none;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  width: 1040px;
  left: 30%;
  transform: scale(0.8);
}

@media (max-width: 1170px) {
  .hero-product {
    left: 25%;
  }
}

@media (max-width: 991px) {
  .hero-product {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    height: 405px;
    left: auto;
    transform: scale(1);
    margin-top: 32px;
  }
  .mockup-macbook {
    position: relative;
    width: 700px;
    height: 404.5px;
  }
  .mockup-macbook img {
    width: 700px;
    max-width: 700px;
  }
  .for-ipad-purpose {
    padding-top: 40px !important;
    padding-bottom: 0 !important;
  }
}
@media (max-width: 580px) {
  .hero-product {
    height: 190px;
    margin-top: 24px;
  }
  .mockup-macbook {
    position: relative;
    width: 324px;
    height: 190px;
  }
  .mockup-macbook img {
    width: 324px;
    max-width: 324px;
  }
  .for-ipad-purpose {
    padding-top: 16px !important;
    padding-bottom: 0 !important;
  }
}

@media (max-width: 368px) {
  #product-intro .btn {
    margin-bottom: 8px;
  }
}

.img-xs-middle {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  z-index: 10;
  line-height: 0;
}
