.product-intro-title {
  /* color: #444444; */
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  line-height: 45px;
}

.tc-white {
  color: #fff;
}

.product-about-text-group-title {
  color: #073d7d;
  font-size: 18px;
  font-family: "Nunito Sans";
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 15px;
}

.fs-single {
  color: #5d6279;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.product-about-text-group-title {
  font-weight: 700;
  line-height: 40px;
}

html {
  overflow-y: scroll !important;
}

.ready-launch-container {
  background: #378ff2;
}
