.whitelist-container {
  position: fixed;
  width: 100%;
  padding: 60px;
  height: 100%;
  background: #2b8cf3;
  font-family: "Nunito Sans";
  top: 0;
  display: block;
  left: 0;
  z-index: -9999;
  color: #fff;
  visibility: hidden;
}

.whitelist-container > div {
  height: 100%;
}

.whitelist-close-btn {
  font-size: 60px;
  color: #fff;
  cursor: pointer;
}

.whitelist-title {
  margin: 35px 0px;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  font-family: "Nunito Sans";
}

.whitelist-form {
  max-width: 340px;
  width: 340px;
}

.whitelist-textinput {
  width: 100%;
  padding: 20px 20px;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8d8d8d;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 14px;
  height: 40px;
}

.whitelist-text {
  font-weight: 700;
  color: #fff;
  font-size: 15px;
  font-family: "Nunito Sans";
  margin-bottom: 0px;
}

.whitelist-textinput:hover {
  border: 0;
  background-color: #ebeff8;
  color: #8d8d8d;
}

.whitelist-submit-btn {
  margin: 30px 0px;
  background-color: #fff;
  color: #2b8cf3;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 0;
  border-radius: 6px;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  font-family: "Nunito Sans";
  width: 166px;
  height: 44px;
}

.whitelist-error {
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: #d50000;
  font-family: "Nunito Sans";
  margin-bottom: 10px;
}

.whitelist-success-text {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 1.3em;
  margin-top: 20px;
  margin-bottom: 30px;
}

.whitelist-submit-btn:hover {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
}

.whitelist-success-container--not-visible {
  display: none !important;
}

.whitelist-form-container--not-visible {
  display: none !important;
}

@media (max-width: 340px) {
  .whitelist-container {
    padding: 20px;
  }

  .whitelist-form {
    padding: 0px 20px;
  }
}

@media (max-height: 570px) {
  .whitelist-container {
    padding: 20px;
  }
}
